<form #addItem="ngForm" (ngSubmit)="handleSubmit(addItem)">

    <div class="container-md">
        <div class="row">
            <div class="col align-self-start">
                <h2>Add New Item</h2>
              </div>
              <div class="addCat col align-self-center">
                <input type="text" class="name form-control" name="name" [(ngModel)]="model.name" #name="ngModel" placeholder="Enter Category Name">
                <input type="text" class=" description form-control" name="description" [(ngModel)]="model.description" #description="ngModel"  placeholder="Description">
                <!-- <input type="file" class="form-control file" name="catImage" [(ngModel)]="model.catImage" #catImage="ngModel" (change)="handleUploadFile($event)" /> -->
                <button class="btn btn-primary">Add Item</button>
              </div>
              <div class="col align-self-end">
              </div>
        </div>
    </div>
</form>