.row{
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.err{
    height: 30px;
    color: red;
}
.container-fluid{
    background-image: url('src/assets/images/WhatsApp Image 2022-04-27 at 1.19.40 PM.jpeg');
    background-position: center;
    background-size: cover;
}
form{
    background-color: #000000a1;
}