<div class="container-fluid">
    <div class="row justify-content-center align-items-center">
        <div class="col-10 col-md-6  rounded shadow text-light p-5 text-capitalize ">
            <h2>Name : {{user1.name}}</h2>
            <h3>birthday : {{user1.birthDate}}</h3>
            <h3>email : {{user1.email}}</h3>
            <h3>phone : {{user1.phone}}</h3>
        <div class="row">
            <div class="col-6">
                <button class="btn btn-primary w-100" routerLink="/edit">Update Me</button>
            </div>
            <div class="col-6">
                <button class="btn btn-danger w-100" routerLink="/">Delete Account</button>

            </div>
        </div>

        </div>
    </div>
</div>
