
.row{
    height: 90vh;
    align-items: center;
}
form{
    padding: 20px;
    background-color: #000000a1;
    border-radius: 10px;
}
.err{
    height: 30px;
}
.container-fluid{
    background-image: url('src/assets/images/WhatsApp Image 2022-04-27 at 1.19.40 PM.jpeg');
    background-position: center;
    background-size: cover;
}